doctype html
html
   head
      title all information
   body
      p(style="color:blue") employee details
      h1(style="color:red") registration 
      table(border="2" cellpadding="10")
        thead 
            th your name
                button sort
            th email 
                button sort
            th phone number
                button sort
            th city
                button sort
            th profession 
                button sort
            th Industry
                button sort 
        each val in allstudents 
            tr 
                td #{val.yourname}
                td #{val.email}
                td #{val.phonenumber}
                td #{val.city}
                td #{val.profession}
                td #{val.Industry}
